---
- name: create a global service
  panos_object:
    ip_address: '{{ inventory_hostname }}'
    password: '{{ password }}'
    operation: 'add'
    serviceobject: "{{ service_name }}"
    destination_port: "{{ port_number }}"
    protocol: "{{ protocol }}"
